.card__containerTop{
  display: flex;
}


.card__container{
    position: relative;
    // width: 50vw;
    
}

.card__img {
    display: block;
    width: 15vw;
    height: 50vh;
    border-radius: 3px;
    margin: 7px;
}

.overlay__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000006e;
    overflow: hidden;
    height: 0;
    transition: 0.5s ease;
    transition: 0.5s ease;
    border-radius: 3px;
}


.card__container:hover .overlay__img{
    height: 100%;
}

.text_img{
  white-space: normal;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 3px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
