/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

// .modal {
//     background: white;
//     border-radius: 5px;
//     color: rgb(51, 51, 51);
//     display: inline;
//     max-height: 620px;
//     max-width: 500px;
//     outline: none;
//     padding: 10px;
// }

// Contenido modal

.modal__container{
    
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.modal__img{
    background-color: blue;
    width: 240px;
    height: 300px;
}


.modal__imagen{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
}

.modal__info{
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 60vw;
}

.modal__title-input{
background-color: aliceblue;
display: block;
margin: 4px;
border: none;
width: 90%;
}

.syp__title-input{
    
}


.modal__sipnosis{
    background-color: darkgoldenrod;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 60%;
    font-size: 12px;
    color: black;
    padding: 5px;
}

.modal__guardar{
    background-color: rgb(54, 151, 130);
    grid-column-start: 3;
    grid-column-end: 4;
}

.notes__title-input{
    width: 100%;
    font-style: italic;
    font-size: 30px;
}

.info_container{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.info_container p{
    width: 190px;
    height: 80%;
    margin-right: 10px;
    align-content: center;
    padding: 0;
    margin: 0;
}

.info_container input{
    background-color: white;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}