
@import './base/settings';
@import './base/base';
@import './components/auth';
@import './components/buttons';
@import './components/navbar';
@import './components/links';
@import './components/container';
@import './components/card';
@import './components/modal';
@import './components/principal';
@import './components/curiosidad';